node-linker=hoisted
supported-architectures[os][]=linux
supported-architectures[os][]=darwin
supported-architectures[libc][]=musl
supported-architectures[libc][]=glibc
supported-architectures[cpu][]=x64
supported-architectures[cpu][]=arm64
